.col-md-4.col-md-push-8
  = react_component("GoalBox",
      {presenter: @goal_presenter.to_json,
        goal_title: t("goal.title"),
        done_goal_title: t("done_goal.title"),
        goal_form: t("goal.form")},
      {prerender: true})
.col-md-8.col-md-pull-4
  = react_component("DailyAchievementBox",
    {presenter: @daily_achievement_presenter.to_json,
      daily_achievement_locale: t("daily_achievement")},
    {prerender: true})
