<header class="main-header">
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <%= render "navigation_main" %>
    <%= render "navigation_user" %>
  </nav>
</header>
