<div class="navbar-header">
  <a href="index3.html" class="navbar-brand"><b>Life</b>Diary</a>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
    <i class="fa fa-bars"></i>
  </button>
</div>
